<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>placementer</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<div class="tab">
 
  <button class="tablinks" onclick="window.location='/'">Home</button>

  <button class="tablinks" onclick="window.location='/show1'">Placement Record</button>
 
  <button class="tablinks" onclick="window.location='mrshow'">Recruiters</button>
   
  <button class="tablinks" onclick="window.location='contact'">Contact Us</button>

  <button class="tablinks" onclick="window.location='login'">Login</button>
</div>
<!--div>
<!--p class="sign_in"><%#= link_to "Admin Login", new_user_session_path %>


</div-->

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Placementor</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<!--label for="username">Username</label>
			<br/>
			<input type="text" id="username">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password">
			<br/>
			<button type="submit">Sign In</button>
			<br/>
			<br/>
			<button type="submit" onclick="window.location='registrations/new'">Sign Up</button>
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a-->
			<%= render 'form' %>
			<button type="submit" onclick="window.location='registrations/new'">Sign Up</button>
		</div>
	</div>
</body>
