<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>placementer</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<div class="tab">
 
  <button class="tablinks" onclick="window.location='shome'">Home</button>

  <button class="tablinks" onclick="window.location='/show2'">Placement Record</button>
 
  <button class="tablinks" onclick="window.location='mrshow2'">Recruiters</button>
   
  <button class="tablinks" onclick="window.location='/shownotification'">Notifications</button>

  <button class="tablinks" onclick="window.location='logout'">Logout</button>
</div>
<!--div>
<!--p class="sign_in"><%#= link_to "Admin Login", new_user_session_path %>


</div-->

<body>
	<div class="container">
			<div class="register-box animated fadeInUp">
			<div class="box-header">
				<h2> Notification </h2>
			</div>
			
            <center>

            <table>
                <tr>
                    <th><strong>Date: </strong></th>
                    <th><strong>Title: </strong></th>
                </tr>

                <% @n.each do |x| %>
    
                <tr>
                <td><%= x.date %></td>
                <td><%= x.title %></td>
                <td><%= link_to 'Show', action:"show", id:x.date %></td>      
                </tr>
                <% end %>

            </table>
		</center>
		</div>
	</div>
</body>




